<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077246479727-u18rsnnm1er9v55a0gtqissltvfeppe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077246479727-u18rsnnm1er9v55a0gtqissltvfeppe9</string>
	<key>API_KEY</key>
	<string>AIzaSyBC8MpdnoiCtTxNhW1j3tH8ocxcuw0363o</string>
	<key>GCM_SENDER_ID</key>
	<string>1077246479727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.abhistin.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios-13-601e8</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios-13-601e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077246479727:ios:a938dd682a6d702e2c6c9a</string>
</dict>
</plist>